<header class="main-header">
    <div class="main-header__wrapper">
        
            <button class="main-header__menu-button main-header__menu-button--closed"><span class="visually-hidden">Menu button</span></button>
        
        <p class="main-header__pre-form-message">I'm looking for...</p>
        <form class="main-header__form" >
            <input class="main-header__input-search" type="text" name="job" id="Job" placeholder="Enter A Job Description...">
            <label class="main-header__filter-label" for="full-time">
                <input class="visually-hidden" type="checkbox" name="full-time" id="full-time">
                <span class="checkbox-indicator"></span>
                Full-time
            </label>
            <label class="main-header__filter-label" for="part-time">
                <input class="visually-hidden" type="checkbox" name="part-time" id="part-time">
                <span class="checkbox-indicator"></span>
                Part Time / Casual / Freelance
            </label>
            <div class="main-header__form-select">
                <select class="main-header__select-country" name="country">
                    <option value="" disabled selected>Select your Location</option>
                    <option value="india">Mumbai</option>
                    <option value="russia">Pune</option>
                    <option value="germany">Delhi</option>
                     <option value="usa">Bangolre</option>
                </select><br><br>
                <div>
                    <button class="btn btn-info btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Register</button>
                  </div>
            </div>
            <button class="main-header__form-submit main-header__form-submit--search" type="submit"><span class="search-button-text">Search</span></button>
        </form>
    </div>
</header>








<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-left">
        <h4 class="modal-title w-100 font-weight-bold">Registration</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="form-style-9">

          <form [formGroup]="formData" (ngSubmit)="click(formData)">

            
             
              
           
          
          <!-- <button (click)="update()">Update</button> -->
          <div>
            <input type="number" name="id"  placeholder="choose u r id" class="form-control" [formControl]="formData.controls['id']" required>
            <div class="alert alert-danger" *ngIf="formData.controls['id'].touched && !formData.controls['id'].valid">
               must Chooes ur ID.
            </div><br>
                
          </div>
            <div>
                  <input type="text" name="fname"  placeholder="First Name" class="form-control" [formControl]="formData.controls['fname']" required>
                  <div class="alert alert-danger" *ngIf="formData.controls['fname'].touched && !formData.controls['fname'].valid">
                     Must Enter First Name
                  </div><br>
                      
                </div>
                <div>
                  <input type="text" name="lname" placeholder="Last Name" class="form-control" [formControl]="formData.controls['lname']" required>
                  <div class="alert alert-danger" *ngIf="formData.controls['lname'].touched && !formData.controls['lname'].valid">
                      Must Enter Last Name
                    </div><br>
              </div>

            
                <div>
                    <input type="email" name="email" placeholder="Email" class="form-control" [formControl]="formData.controls['email']" required>
                    <div class="alert alert-danger" *ngIf="formData.controls['email'].touched && !formData.controls['email'].valid">
                        Must Enter email
                      </div><br>
                </div>
                <div>
                  <input type="text" name="number" placeholder="+919960914093" class="form-control"  [formControl]="formData.controls['number']" required>
                  <div class="alert alert-danger" *ngIf="formData.controls['number'].touched && !formData.controls['number'].valid">
                    Phone Number must be 10 digits
                   
              </div>
                </div>
              <span>Age</span>
                <div class="d-flex justify-content-bottom ">
                    <span class=" indigo-text">20</span>
                 <input id="slider2" type="range" name="age" min="20" max="60"  value="0" [formControl]="formData.controls['age']" required />   
                 <span class="indigo-text">60</span>
                
              
                    <div class="alert alert-danger" *ngIf="formData.controls['age'].touched && !formData.controls['age'].valid">
                        Must Enter range
                    </div>
                 </div><br>

              <select class="browser-default custom-select mb-2" name="state" [formControl]="formData.controls['state']" required>
                <div class="alert alert-danger" *ngIf="formData.controls['state'].touched && !formData.controls['state'].valid">
                  Must Enter state
                </div>
                  <option value="" disabled selected>Select Your State</option>
                  <option value="Maharastra">Maharastra</option>
                  <option value="Gujrat">Gujrat</option>
                  <option value="Panjab">Panjab</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Goa">Goa</option>
              </select><br>

              <select class="browser-default custom-select mb-2" name="country" [formControl]="formData.controls['country']" required>
                <div class="alert alert-danger" *ngIf="formData.controls['country'].touched && !formData.controls['country'].valid">
                  Must Enter country
                </div>
                <option value="" disabled selected>Select Your country</option>
                <option value="India">India</option>
                <option value="America">America</option>
                <option value="China">China</option>
                <option value="Mexico">Mexico</option>
                <option value="Germany">Germany</option>
              </select>
              <div>
                <label>Address</label>
                <input type="text" name="address" class="form-control" placeholder="address" [formControl]="formData.controls['address']" required>
                <div class="alert alert-danger" *ngIf="formData.controls['address'].touched && !formData.controls['address'].valid">
                    Must Enter address
                    
                  </div>
                  <br>
                </div>
                   
              <input type="file" (change)="upload($event)" [formControl]="formData.controls['image']" name="image" size="310*325px" required >
              
              <img src="{{imgURL}}" name="image" height="50%" width="50%">
              <div class="alert alert-danger" *ngIf="isValid">

                Size must be 310x325
                </div>
              
            
            <input type="submit" value="submit" class="btn btn-info" [disabled]="!formData.valid">
        </form>

        </div>    
            
    </div>
  
</div>
</div>
</div>

