

<div *ngFor="let aa of details">
  <div class="container">
    <div class="sur">
      <img [src]="aa.ProfileImg" style="width: 100px; height: auto;">
    </div>
  </div>

  <div class="container">
    <p> I am {{aa.fname}} {{aa.lname}}, 
        And I am {{aa.age}} year old.
        and you can send your mail to {{aa.email}} and my contact no is {{aa.number}}.
        I am form {{aa.state}} ({{aa.country}}) address is {{aa.address}}
    </p>
    <button class="btn btn-info btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Edit Profile</button>

  </div>

</div>



<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-left">
        <h4 class="modal-title w-100 font-weight-bold ">Edit Profile</h4>
        <h6>(Must fill full infromation to edit)</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="form-style-9">

          <form [formGroup]="userpop" (ngSubmit)="click()">
            <div>
            <input type="number" name="id"  placeholder="choose u r id" class="form-control" [formControl]="userpop.controls['id']" required>
            <div [hidden]="userpop.controls['id'].valid" style="color:red">
               Must Add ur id to Edit profile
            </div><br>
          </div>

            <div>
                  <input type="text" name="fname"  placeholder="First Name" class="form-control" [formControl]="userpop.controls['fname']"  required>
                  <div class="alert alert-danger" *ngIf="userpop.controls['fname'].touched && !userpop.controls['fname'].valid">
                     Must Enter First Name
                  </div><br>
                      
                </div>
                <div>
                  <input type="text" name="lname" placeholder="Last Name" class="form-control" [formControl]="userpop.controls['lname']" required>
                  <div class="alert alert-danger" *ngIf="userpop.controls['lname'].touched && !userpop.controls['lname'].valid">
                      Must Enter Last Name
                    </div><br>
              </div>

                <div>
                    <input type="email" name="email" placeholder="Email" class="form-control" [formControl]="userpop.controls['email']" required>
                    <div class="alert alert-danger" *ngIf="userpop.controls['email'].touched && !userpop.controls['email'].valid">
                        Must Enter email
                      </div><br>
                </div>
                <div>
                  <input type="text" name="number" placeholder="+919960914093" class="form-control"  [formControl]="userpop.controls['number']" required>
                  <div class="alert alert-danger" *ngIf="userpop.controls['number'].touched && !userpop.controls['number'].valid">
                    Phone Number must be 10 digits
                   
              </div>
                </div>
              <span>Age</span>
                <div class="d-flex justify-content-bottom ">
                    <span class=" indigo-text">20</span>
                 <input id="slider2" type="range" name="age" min="20" max="60"  value="100" [formControl]="userpop.controls['age']" required />   
                 <span class="indigo-text">60</span>
                    <div class="alert alert-danger" *ngIf="userpop.controls['age'].touched && !userpop.controls['age'].valid">
                        Must Enter range
                    </div>
                 </div><br>
              <select class="browser-default custom-select mb-2" name="state" [formControl]="userpop.controls['state']" required>
                <div class="alert alert-danger" *ngIf="userpop.controls['state'].touched && !userpop.controls['state'].valid">
                  Must Enter state
                </div>
                  <option value="" disabled selected>Select Your State</option>
                  <option value="Maharastra">Maharastra</option>
                  <option value="Gujrat">Gujrat</option>
                  <option value="Panjab">Panjab</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Goa">Goa</option>
              </select><br>
              <select class="browser-default custom-select mb-2" name="country" [formControl]="userpop.controls['country']" required>
                <div class="alert alert-danger" *ngIf="userpop.controls['country'].touched && !userpop.controls['country'].valid">
                  Must Enter country
                </div>
                <option value="" disabled selected>Select Your country</option>
                <option value="India">India</option>
                <option value="America">America</option>
                <option value="China">China</option>
                <option value="Mexico">Mexico</option>
                <option value="Germany">Germany</option>
              </select>
              <div>
                <label>Address</label>
                <input type="text" name="address" class="form-control" placeholder="address" [formControl]="userpop.controls['address']" required>
                <div class="alert alert-danger" *ngIf="userpop.controls['address'].touched && !userpop.controls['address'].valid">
                    Must Enter address
                    
                  </div>
                  <br>
                </div>
                   
              <input type="file" (change)="upload($event)" name="image" size="310*325px" required >
              
              <img src="{{imgURL}}" height="50%" width="50%">
              <div class="alert alert-danger" *ngIf="isValid">
                Size must be 310x325
                </div>
              
            
            <!-- <input type="submit" value="submit" class="btn btn-info" [disabled]="!userpop.valid"> -->
            <button type="button" (click)="update()">UpdateProfile</button>
        </form>

            
            </div>
            
    </div>
  </div>
</div>

</div>
